---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME, SOCIALS } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";

const blog = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <h1 class="font-semibold text-black dark:text-white">Always Exploring</h1>
      <div class="space-y-16">
        <section>
          <article class="space-y-4">
            <span>
              <p>这里是 Ernest 的个人博客。</p>
              <p>
                我会在这里记录工作、生活、阅读、旅行，以及一些阶段性的复盘和思考。
              </p>
            </span>
            <span class="animate">
              <p>
                写下来是为了在未来某个时刻回头看，知道自己曾经如何理解世界，又如何慢慢发生变化。
              </p>
            </span>
          </article>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">最新文章</h2>
            <Link href="/blog"> 查看全部 </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              blog.map(post => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </section>

        <section class="animate space-y-4">
          <h2 class="font-semibold text-black dark:text-white">联系我</h2>
          <article>
            <p>想交流或者只是打个招呼，欢迎通过社交媒体或邮件找到我。</p>
          </article>
          <ul class="not-prose flex flex-wrap gap-2">
            {
              SOCIALS.map(SOCIAL => (
                <li class="flex gap-x-2 text-nowrap">
                  <Link
                    href={SOCIAL.HREF}
                    external
                    aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                  >
                    {SOCIAL.NAME}
                  </Link>
                  {"/"}
                </li>
              ))
            }
            <li class="line-clamp-1">
              <Link
                href={`mailto:${SITE.EMAIL}`}
                aria-label={`Email ${SITE.TITLE}`}
              >
                {SITE.EMAIL}
              </Link>
            </li>
          </ul>
        </section>
      </div>
    </aside>
  </Container>
</Layout>
